# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# User-specific files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.mdb

# Other files
*.cache
*.zip
*.tar.gz
*.tar
*.tgz
*.7z